<br><br><br>
<center>
 <div id="group_header">
    <h1>New group</h1>
   <h4> Create a unique name for your groups discussion page </h4>
  </div>
<%= render 'form' %>
<br>
<%= link_to 'Back', groups_path %>
</center>
