<br><br><br>
<div style="color: #A9A9A9; font-size: 35px; margin-left: 45px;">
<h1>Welcome to Collab</h1>
  <br>
  <h4>A private web page for a private group!</h4>
  <h6>Control who gets access to your group!</h6>
</div>
