// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#group_header { background-color: #FFFFFF;
                height: 55px;
                b-webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
                width: 550px;}

 h1 { font-weight: bold; }

.comment { width: 350px;
          margin-left: 15px;
          color: #000000;
          border: 2px  solid #000000;
          b-webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          padding: 50px;
          background-color: #1E90FF;
          border-radius: 15px;
          font-family: Georgia;}


.comment_container { border: 2px solid #000000;
                    margin: 5px;
                    min-height: 50px;
                    text-align: center;
                    background-color: #FFFFFF;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
                    box-shadow: 5px 5px 3px #CCCCCC;} 

.commenter  strong { font-weight: bold; 
             font-size: 15px;
             position: relative;
             float: left;
              line-height: 18px;
             font-family: verdana;
             margin: 4px; }

